/* 2. Add a CSS rule for your image that sets the border property to 2 pixels wide with a solid blue color */
#img {
    border: 2px solid blue;
}

/* 3. Add a CSS rule for heading 1 containing your name and set its color to blue */
#header1 {
    color: blue;
}

/* 4. Add a CSS rule for all <h2> headings and set their color to grey */
#header2 {
    color: grey;
}

/* 5. Add a CSS rule that applies a margin of 4 pixels to the divider elements */
div {
    margin: 4px;
}
